Package: com.socuul.turkcescinsta
Name: TurkceSCInsta
Version: 0.7.1
Architecture: iphoneos-arm
Description: Instagram için Türkçe ve özellikli bir tweak!
Maintainer: LilCiro
Author: LilCiro
Section: Tweaks
Depends: mobilesubstrate, ws.hbang.common
